.fullWidth {
    position: relative;
    width: 100%;
    padding: ($spacing * 4) 0;
}

.container {
    *zoom: 1;
    margin: 0 auto;
    max-width: $lg-container;
    position: relative;
    transition: max-width 0.3s $standard;
    width: $xs-container;

    &:before,
    &:after {
        clear: both;
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@media (max-width: $md) {
    .container {
        max-width: $md-container;
    }
}

@media (max-width: $sm) {
    .container {
        max-width: $sm-container;
    }
}
