[class^='card'] {
    background-color: $white;
    border-radius: 0 0 2px 2px;
    box-shadow: $shadow1;
    float: left;
    position: relative;
    transition: box-shadow 0.3s $standard;
    will-change: box-shadow;
    margin: $spacing;
    width: 100%;

    &:hover {
        box-shadow: $shadow3;
    }

    .rich {
        background-color: #BDBDBD;
        overflow: hidden;
        padding-bottom: 56.25%; // 16:9 aspect ratio
        position: relative;
        width: 100%;

        > .content {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .primary-title {
        padding: ($spacing * 3) ($spacing * 2) ($spacing * 2) ($spacing * 2);
        position: relative;

        .heading {
            margin: 0;
            font-size: ($spacing * 3);
            font-weight: 600;
        }

        p {
            font-size: 14px;
            margin: 0;
            color: #777;
            font-weight: 500;
        }

        &:not(:last-child) {
            padding-bottom: 0;
        }
    }

    .actions {
        padding: $spacing;
        position: relative;
    }

    .support-text {
        padding: ($spacing * 2) ($spacing * 2) ($spacing * 3) ($spacing * 2);
        position: relative;
        font-size: 14px;
    }
}

.card-half {
    width: calc(50% - #{$spacing});
}

.card-quarter {
    width: calc(25% - #{$spacing * 1.5});
}

@media (max-width: $sm) {
    .card-quarter {
        width: calc(50% - #{$spacing});
    }
}

@media (max-width: $xs) {
    .card-quarter,
    .card-half {
        width: 100%;
    }
}
